@media (max-width: 768px) {
    .header {
        flex-direction: column;
        padding: 10px;
        margin: 10px;
    }

    .header-right {
        width: 100%;
        justify-content: center;
        padding: 10px;
    }

    .logo-header {
        margin: 10px 0;
        width: 80px;
    }

    .profile-img {
        width: 150px;
        height: 150px;
    }

    .hero h1 {
        font-size: 2em;
    }

    .skills-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .social-links {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .social-btn {
        width: 80%;
        justify-content: center;
    }

    .project {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .project article {
        margin: 0;
        margin-bottom: 20px;
        margin-top: 30px;
    }

    .project p {
        max-width: 100%;
        margin: 0 auto;
    }

    .project img {
        width: 80%;
        margin: 0;
        margin-top: 30px;
    }
}

@media (max-width: 480px) {
    .header-right {
        gap: 10px;
        font-size: medium;
    }

    .skills-container {
        grid-template-columns: 1fr;
    }

    .hero h1 {
        font-size: 1.8em;
    }

    .subtitle {
        font-size: 1rem;
    }

    section {
        padding: 20px;
        margin: 10px;
    }

    .project img {
        width: 100%;
    }

    .project p {
        font-size: 0.9rem;
        line-height: 1.6;
    }

    .btn-p {
        padding: 10px 20px;
        font-size: 0.9rem;
    }
}
